

body{
	//font-family: 'Roboto';
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0;


}
h3{
	font-weight: 900;
	padding: 0;
	margin: 0;
}



#leftHudContainer{
	background: $bgColor;
	height: 100px;
	width: auto;
	border: 4px solid $borderColor;
	border-right: 2px solid $borderColor;
	padding-left: 11px;
	padding-right: 12px;
	div .playerHudSprite{
		margin: 0 auto;

		width: 40px;
		height: 40px;
	}

	h5{
		color: maroon;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.goldHud{

		margin-left: 15px;
		img{
			width: 28px;
			height: 32px;

		}
		span{
			margin-top: 4px;
			width: 50px;

			font-size: 20px;
			color: gold;
			position: absolute;
			text-align: center;
		}
	}
}




#emptyMonsterName{
	opacity: 0;
}
#fullMonsterName{
	width: 100%;
	color: yellow;
	text-align: center;
}

#preloadContainer{
	display: none;
	width: 5px;
	height: 5px;
}


#hudContainer{
	background: green;
	width: 900px;
	display: flex;
	margin: 0 auto;

}

#hudLevelTextPlayer{
	color: #7BAC6B;
	margin-left: 3px;

}
#hudLevelTextMonster{
	color: #992D2D;
}







.floater{
		float: left;
	}





.barContainer{
	margin-top: 2px;
	margin-left: 10px;

	border: 2px solid #415C6E;
	
}

.barType{
	cursor: default;
	color: white;

	min-height: 28px;
	max-height: 28px;
	text-align: center;

	&.overlayText{
		z-index: 100;
		position: absolute;
		width: 200px;
		line-height: 24px;
		text-shadow:
						-1px -1px 0 #000,
						1px -1px 0 #000,
						-1px 1px 0 #000,
						1px 1px 0 #000;

	}


	&.full{
		position: absolute;

		&.life{

			background:darkred;
			width: 100px;

		}
		&.mana{
			background:blue;
			width: 100px;
		}
		&.exp{
			background: #c64620;
			width: 100px;
		}
	}

	&.lifeEmpty{
		background: palevioletred;
		width: 200px;
		
	}
	&.manaEmpty{
		background: cornflowerblue;
		width: 200px;
	}
	&.expEmpty{
		background: coral;
		width: 200px;
		float: left;
	}


}

















