#attributeContainer{
	cursor: default;
	
	background: #060A16;//variable
	
	border: 4px solid $borderColor;
	border-left: 2px solid $borderColor;
	font-size: 20px;

	padding-left: 10px;
	padding-right: 10px;
	
	width: 210px;
	height: 100px;

	.flexContainer{
		display: flex;
		flex-wrap: wrap;
	}

	h6 {
		text-align: center;
		color: green;
	}

	.hudAttriButton{
	width: 88px;	
	height: 30px;

	text-align: center;
	

	background: #436;
	border-radius: 20%;
	margin: 1px;
	border: 2px solid rgb(29, 8, 13);
	color: white;


	text-shadow:
						-1px -1px 0 #000,
						1px -1px 0 #000,
						-1px 1px 0 #000,
						1px 1px 0 #000;
	
	&:hover {
		background: #385c83;

	}
	}
}




